[submodule "src/3rdparty/sippycup"]
	path = src/3rdparty/sippycup
	url = https://github.com/wcmac/sippycup
[submodule "src/3rdparty/wiktextract"]
	path = src/3rdparty/wiktextract
	url = https://github.com/erolm-a/wiktextract.git
	branch = feature/hierarchical_glosses
[submodule "src/3rdparty/trec-car-tools"]
	path = src/3rdparty/trec-car-tools
	url = https://github.com/TREMA-UNH/trec-car-tools
[submodule "src/3rdparty/triviaqa"]
	path = src/3rdparty/triviaqa
	url = https://github.com/mandarjoshi90/triviaqa
