numpy==1.18.5
pandas==1.0.4
python-dateutil==2.8.1
pytz==2020.1
SPARQLWrapper==1.8.5
spacy==2.3.0
sentence-transformers==0.4.1
transformers==4.2.0
datasets==1.2.1
gsutil==4.51
bs4==0.0.1
Flask==1.1.2
Flask-RESTful==0.3.8
flask-restful-swagger==0.20.2
text2num==2.2.0
wget==3.2
matplotlib==3.2.2
pyarrow==0.17.1
mmh3==2.5.1
wheel==0.34.2
scikit-learn==0.23.1
sklearn==0.0
rdflib-jsonld==0.5.0
pyserini==0.9.4.0
seaborn==0.10.1
Deprecated==1.2.10
maturin==0.8.3
wandb==0.10.22
