numpy==1.18.5
pandas==1.0.4
py4j==0.10.7
pyspark==2.4.5
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
SPARQLWrapper==1.8.5
spacy==2.3.0
sentence-transformers==0.2.6.2
gsutil==4.51
bs4==0.0.1
Flask==1.1.2
Flask-RESTful==0.3.8
flask-restful-swagger==0.20.2
text2num==2.2.0
wget==3.2
matplotlib==3.2.2
pyarrow==0.17.1
